.footer
    .footer__logo
        //- img(src='img/logo-green.png' alt='Our logo')
    ul.footer__nav
        li
            a(href='#') Who we are
        li
            a(href='#') Download apps
        li
            a(href='#') For business
        li
            a(href='#') Careers
        li
            a(href='#') Contact
    p.footer__copyright
        | &copy; by Dung Anh Nguyen. All rights reserved.

//- .footer(class='uui-footer07_component')
//-     .uui-page-padding
//-     .uui-container-large
//-         .uui-padding-vertical-xlarge
//-             div(class='uui-footer07_top-wrapper')
//-                 a#w-node-f05ea3f7-0c92-9dc6-18cc-a0e53832811e-1bac9856(href='#' class='uui-footer07_logo-link w-nav-brand')
//-                     div(class='uui-logo_component')
//-                         div(class='uui-logo_logomark')
//-                             img(src='images/logomark-bg.svg' loading='eager' height= alt='Untitled UI logomark' class='uui-styleguide_logomark-bg')
//-                             div(class='uui-logo_logomark-blur')
//-                             div(class='uui-logo_logomark-dot')
//-                         img(src='images/logotype.svg' loading='lazy' alt='Untitled UI logotext' class='uui-logo_logotype')
//-                         img(src='images/untitled-ui-logo.png' loading='lazy' alt='Logo' class='uui-logo_image')
//-                 div(class='w-layout-grid uui-footer07_link-list')
//-                     a(href='#' class='uui-footer07_link w-inline-block')
//-                         div Overview
//-                     a(href='#' class='uui-footer07_link w-inline-block')
//-                         div Features
//-                     a(href='#' class='uui-footer07_link w-inline-block')
//-                         div Pricing
//-                     a(href='#' class='uui-footer07_link w-inline-block')
//-                         div Careers
//-                     a(href='#' class='uui-footer07_link w-inline-block')
//-                         div Help
//-                     a(href='#' class='uui-footer07_link w-inline-block')
//-                         div Privacy
//-             div(class='uui-footer07_bottom-wrapper')
//-                 .uui-text-size-small.text-color-gray500 © 2077 Untitled UI. All rights reserved.
//-                 div(class='w-layout-grid uui-footer07_legal-list')
//-                     a(href='#' class='uui-footer07_legal-link') Terms
//-                     a(href='#' class='uui-footer07_legal-link') Privacy
//-                     a(href='#' class='uui-footer07_legal-link') Cookies