header.header 
    nav.nav.nav--campaigns 
        a.nav__el(href='/') All campaigns

    div.header__logo
        img(src='img/logo-white.png' alt='Our logo')

    nav.nav.nav--user 
        if user
            a.nav__el.nav__el--logout Log Out
            a.nav__el(href='#') My campaigns
                img.nav__user-img(src='img/user.jpg' alt='User photo')
                span= user.name
        else
            a.nav__el(href='/login') Login
            a.nav__el.nav__el-cta(href='/signup') Sign Up