header.header 
    nav.nav.nav--campaigns 
        a.nav__el(href='/') All campaigns

    div.header__logo
        //- img(src='img/logo-white.png' alt='Our logo')

    nav.nav.nav--user 
        if user
            img.nav__user-img(src='https://image.similarpng.com/very-thumbnail/2020/04/cute-star-PNG-SimilarPNG.png' alt='User photo')
            a.nav__el.span= user.name
            a.nav__el(href='#')
            a.nav__el(href='#') My campaigns
            a.nav__el.nav__el--logout Log Out
        else
            a.nav__el(href='/login') Login
            a.nav__el.nav__el-cta(href='/signup') Sign Up

//- header.header#blog-header-5(class='uui-section_blog03')
//-     div(data-w-id='67def674-0aec-9be8-f98e-d64e0235be4b' data-animation='default' data-collapse='medium' data-duration='400' data-easing='ease' data-easing2='ease' role='banner' class='uui-navbar07_component w-nav')
//-     div(class='uui-navbar07_container')
//-         a(href='#' class='uui-navbar07_logo-link w-nav-brand')
//-             div(class='uui-logo_component')
//-                 div(class='uui-logo_logomark')
//-                     img(src='images/logomark-bg.svg' loading='eager' height= alt='Untitled UI logomark' class='uui-styleguide_logomark-bg')
//-                     div(class='uui-logo_logomark-blur')
//-                     div(class='uui-logo_logomark-dot')
//-                 img(src='images/logotype.svg' loading='lazy' alt='Untitled UI logotext' class='uui-logo_logotype')
//-                 img(src='images/untitled-ui-logo.png' loading='lazy' alt='Logo' class='uui-logo_image')
//-         nav(role='navigation' class='uui-navbar07_menu w-nav-menu')
//-             div(class='uui-navbar07_menu-left')
//-                 a(href='#' class='uui-navbar07_link w-nav-link') Home
//-                 a(href='#' class='uui-navbar07_link w-nav-link') Explore Local Spots
//-                 a(href='#' class='uui-navbar07_link w-nav-link') Charity Clauses
//-             div(class='uui-navbar07_menu-right')
//-                 div(class='uui-navbar07_button-wrapper')
//-                     a.uui-button-secondary-gray.show-tablet.w-inline-block(href='#')
//-                         div Log in
//-                     a.uui-button-tertiary-gray.hide-tablet.w-inline-block(href='#')
//-                         div Log in
//-                     a.uui-button.w-inline-block(href='#')
//-                         div Sign up
//-         div(class='uui-navbar07_menu-button w-nav-button')
//-             div(class='menu-icon_component')
//-                 div(class='menu-icon_line-top')
//-                 div(class='menu-icon_line-middle')
//-                     div(class='menu-icon_line-middle-inner')
//-                 div(class='menu-icon_line-bottom')